<app-words></app-words>
  
  <div class="container">
    <div class="border">
        <a class="show-more-link" href="" title="[Shortcut : S]">More</a>
        <button class="next-button" (click)="nextQuizz()" >Next</button>
            <div class="row column  primary">
              <div class="row-label">{{lg_src}}</div>
              <div class="row-value">
                <div class="primary-value" lang="ja">
                {{word}}
                </div>
              </div>
            </div>
            <div class="row column  secondary">
              <div class="row-label">{{lg_dst}}</div>
              <div class="row-value">
                <div class="primary-value" lang="en">
                  {{translation}}
                </div>
              </div>
            </div>
            <div class="row column first-audio">
              <div class="row-value">
                <div class="primary-value">
                </div>
              </div>
            </div>
          </div>
        </div>
