<app-words></app-words>
  <div class="border">
    <div class="container">
      <div *ngIf="quizzStart" class="score">{{score}}/{{index-1}}</div>
        <button *ngIf="quizzStart" class="next-button" (click)="nextQuizz()" >Next</button>
        <button *ngIf="!quizzStart" class="next-button" (click)="nextQuizz()" >Start Quizz</button>

            <div class="row column  primary">
              <div class="row-label">{{lg_src}}</div>
              <div class="row-value">
                <div class="primary-value" lang="ja">
                {{word}}
                </div>
              </div>
            </div>
            <div class="row column  secondary">
              <div class="row-label">{{lg_dst}}</div>
              <div class="row-value">
                <div class="primary-value" lang="en">
                  {{translation}}
                  <input type="text" (keyup)="onAnswerKeyUp($event)" placeholder="Translation">
                </div>
              </div>
            </div>
            <div class="row column first-audio">
              <div class="row-value">
                <div class="primary-value">
                </div>
              </div>
            </div>
          </div>
        </div>
