.container {
  height: 180px;
  width: 500px;
  background-color: #C0C0C0;
}

.border {
  border-width:2px;
  border-style:groove;
  border-color:#808080;

 }

.row-label {
   text-align: left;
   font-weight: bold;
   color:black;
   text-transform: capitalize;

}

.btn-start {
  position: relative;
  margin-left: 75%;
  margin-top: -30%;
  border: 1px solid green;
  background-color: #606B8B;
  color:black;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}

.btn-start:hover {
    background-color: #32CD32;
    color: white;
}

.btn-start:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

.btn-next {
  position: relative;
  margin-left: 80%;
  margin-top: -40%;
  border: 1px solid green;
  background-color: #606B8B;
  color:black;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}

.btn-next:hover {
    background-color: #32CD32;
    color: white;
}

.btn-next:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

.primary-value {
  text-align: center;
  font-weight: bold;
  color:DarkGreen;
}

.score {
  color:firebrick;
  font-weight:bold;
  text-align:center;
  background-blend-mode: hard-light;
  border-radius: 15px;


  margin-left: 40%;

}

.icon {
	height: 24px;
	width: 24px;
	margin-right: 12px;
	vertical-align: middle;
	background:url('../../volume.png');
}

.volume {
  width: 20px; height: 20px;
  background: url('../../css_sprites.png') -286px -10px;
}

.btn-volume {
  background-color: #FFFFFF;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
  margin-top: 2px;
  margin-left: 2px;
}

.btn-volume:hover {
    background-color: #32CD32; /* Green */
    color: white;
}

.btn-volume:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
