.container {
  height: 180px;
  width: 500px;
  background-color: #C0C0C0;
}

.border {
  border-width:2px;
  border-style:groove;
  border-color:#808080;

 }

.row-label {
   text-align: left;
   font-weight: bold;
   color:black;

}

.btn-success {
  position: relative;
  left: 350px;
  top: 5px;
  border: 1px solid green;
  background-color: lightblue;
}

.btn-success2 {
  position: relative;
  left: 400px;
  top: -40px;
  border: 1px solid green;
  background-color: lightblue;
}

.primary-value {
  text-align: center;
  font-weight: bold;
  color:DarkGreen;
}

.score {
  color:red;
  font-weight:bold;

}
